<template>
  <div class="hello">
    \{{dirname}}
  </div>
</template>
<script>
  export default {
  name: "{{name}}",
  props: {
    msg: String
  },
  data() {
    return {
      a: 1,
    };
  },
}
</script>
<style scoped></style>